:root {
    --light-font: #ffffff;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
}

.background {
    background: url(/mads-schmidt-rasmussen-xfngap_DToE-unsplash.jpg) no-repeat center;
    background-size: cover;
}

aside {
    width: calc(100vw * 1/3);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100vw * 2/3);
    /* padding-left: 3rem; */
    background: #fafafa;
}

.aside-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 8rem;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #26262636;
}

.logo-text {
    color: var(--light-font);
    font-size: 80px;
    font-weight: 600;
}

.credit {
    margin-bottom: 1rem;
}

.credit, .credit a{
    color: var(--light-font);
    font-size: 14px;
    font-weight: 400;
}

main > p {
    margin: 2rem 3rem;
}

.testimonial, #ldt {
    width: 70%;
    font-size: 24px;
    font-weight: 600;
    margin-top: 0;
}

.field-box {
    margin: 2rem 0;
    padding: 2rem 30rem 2rem 3rem;
    background: var(--light-font);
    box-shadow: 0 5px 10px #dcdcdc;
}

.fields {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.fields > div {
    padding: .6rem 2rem .6rem 0;
}

label {
    color: #000000c8;
    font-weight: 500;
    letter-spacing: 1px;
}

input {
    display: block;
    padding: .25rem .5rem;
    font-size: 20px;
    border-radius: .25rem;
    border: 1px solid #00000034;
}

button {
    font-family: 'Quicksand', sans-serif;
    color: var(--light-font);
    background: #b7cdf6;
    font-size: 20px;
    font-weight: 600;
    padding: .6em 2.6em;
    margin: 0 3rem;
    border-radius: .5em;
    border-style: none;
    transition: all 200ms;
}

button:hover {
    cursor: pointer;
    background: #9db0d4;
}