body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
}

.background {
    background: url(/mads-schmidt-rasmussen-xfngap_DToE-unsplash.jpg);
}

aside {
    width: calc(100vw * 1/3);
}

main {
    width: calc(100vw * 2/3);
}

.aside-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fields {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

input {
    display: block;
}